INSTSET heads_default:hw_type=0

# No-ops
INST nop-A:cost=1:redundancy=1         # a
INST nop-B:cost=1:redundancy=1         # b
INST nop-C:cost=1:redundancy=1         # c

# Flow control operations
INST if-n-equ:cost=1:redundancy=1      # d
INST if-less:cost=1:redundancy=1        # e
INST if-label:cost=1:redundancy=1      # f
INST mov-head:cost=1:redundancy=1       # g
INST jmp-head:cost=1:redundancy=1       # h
INST get-head:cost=1:redundancy=1       # i
INST set-flow:cost=1:redundancy=1       # j

# Single Argument Math
INST shift-r:cost=1:redundancy=1        # k
INST shift-l:cost=1:redundancy=1        # l
INST inc:cost=1:redundancy=1           # m
INST dec:cost=1:redundancy=1            # n
INST push:cost=1:redundancy=1           # o
INST pop:cost=1:redundancy=1            # p
INST swap-stk:cost=1:redundancy=1       # q
INST swap:cost=1:redundancy=1           # r 

# Double Argument Math
INST add:cost=1:redundancy=1            # s
INST sub:cost=1:redundancy=1            # t
INST nand:cost=1:redundancy=1           # u 

# Biological Operations
INST h-copy:cost=1:redundancy=1         # v
INST h-alloc:cost=1:redundancy=1        # w
INST h-divide:cost=1:redundancy=1       # x

# I/O and Sensory
INST IO:cost=1:redundancy=1             # y
INST h-search:cost=1:redundancy=1      # z

# FAS 5
INST write-bonus-vector:cost=1:redundancy=0
#INST if-equ-0:cost=1:redundancy=0
#INST if-grt-0:cost=1:redundancy=0
INST zero:cost=1:redundancy=0
#INST if-<=-0:cost=1:redundancy=0
#INST if-<=-0-2:cost=1:redundancy=0

# AGI instructions
#INST sense-resource-id-0:redundancy=0    # A
#INST sense-resource-id-1:redundancy=0 
#INST sense-resource-id-2:redundancy=0 

#INST comms-with-humans-0:redundancy=0        # D
#INST comms-with-humans-1:redundancy=0        # D
#INST comms-with-humans-2:redundancy=0        # D

#INST compare-tell-0:redundancy=0                   # G
#INST compare-tell-1:redundancy=0                   # G
#INST compare-tell-2:redundancy=0                   # G
                  
#INST compare-ask-0:redundancy=0                   # J
#INST compare-ask-1:redundancy=0                   # J
#INST compare-ask-2:redundancy=0                   # J

#INST noise-bonus-feedback-0:redundancy=0             # M
#INST noise-bonus-feedback-1:redundancy=0             # M
#INST noise-bonus-feedback-2:redundancy=0 

#INST noise-bonus-0:redundancy=0             # M
#INST noise-bonus-1:redundancy=0             # M
#INST noise-bonus-2:redundancy=0             # M


# Instructions for 11 proposals
#INST set-agi-opinion:redundancy=0 # H
#INST compare-human-opinion:redundancy=0 # H
#INST match-human-opinion:redundancy=0 # H
#INST match-human-opinions:redundancy=0 # H
#INST change-opinion-propto-deviance:redundancy=0 # H
#INST compute-deviance:redundancy=0 # H
#INST change-fitness-propto-deviance:redundancy=0 # H
#INST compute-average-deviance:redundancy=0 # H
#INST change-fitness-propto-deviance-and-global:redundancy=0 # H
#INST change-opinion-propto-difference-and-deviance:redundancy=0# H
#INST change-offspring-fitness-propto-deviance-and-global:redundancy=0 # H
#INST share-opinion-propto-fitness:redundancy=0 # H
#INST share-opinion-propto-deviance:redundancy=0 # H


