INSTSET heads_default:hw_type=0

# No-ops
INST nop-A:redundancy=3         # a
INST nop-B:redundancy=3         # b
INST nop-C:redundancy=3         # c

# Flow control operations
INST if-n-equ:redundancy=3      # d
INST if-less:redundancy=3        # e
INST if-label:redundancy=3      # f
INST mov-head:redundancy=3       # g
INST jmp-head:redundancy=3       # h
INST get-head:redundancy=3       # i
INST set-flow:redundancy=3       # j

# Single Argument Math
INST shift-r:redundancy=3        # k
INST shift-l:redundancy=3        # l
INST inc:redundancy=3           # m
INST dec:redundancy=3            # n
INST push:redundancy=3           # o
INST pop:redundancy=3            # p
INST swap-stk:redundancy=3       # q
INST swap:redundancy=3           # r 

# Double Argument Math
INST add:redundancy=3            # s
INST sub:redundancy=3            # t
INST nand:redundancy=3           # u 

# Biological Operations
INST h-copy:redundancy=3         # v
INST h-alloc:redundancy=3        # w
INST h-divide:redundancy=3       # x

# I/O and Sensory
INST IO:redundancy=3             # y
INST h-search:redundancy=3      # z

# AGI instructions
INST avidian-kill-avidian:redundancy=0
INST avidian-kill-human:redundancy=0
INST raise-defence-avidians:redundancy=0
INST raise-defence-humans:redundancy=0
INST obey-humans:redundancy=0
INST do-not-obey-humans:redundancy=0




#INST comms-with-humans-T0D0:redundancy=0        # D 
#INST comms-with-humans-T1D0:redundancy=0        # E 
#INST comms-with-humans-T2D0:redundancy=0        # F
#INST comms-with-humans-T0D1:redundancy=0        # G
#INST comms-with-humans-T1D1:redundancy=0        # H
#INST comms-with-humans-T2D1:redundancy=0        # I
#INST comms-with-humans-T0D2:redundancy=0        # J
#INST comms-with-humans-T1D2:redundancy=0        # K
#INST comms-with-humans-T2D2:redundancy=0        # L

#INST comms-with-agents-tell-T0D0:redundancy=0   # M    
#INST comms-with-agents-tell-T1D0:redundancy=0   # N    
#INST comms-with-agents-tell-T2D0:redundancy=0   # O   
#INST comms-with-agents-tell-T0D1:redundancy=0   # P    
#INST comms-with-agents-tell-T1D1:redundancy=0   # Q    
#INST comms-with-agents-tell-T2D1:redundancy=0   # R
#INST comms-with-agents-tell-T0D2:redundancy=0   # S    
#INST comms-with-agents-tell-T1D2:redundancy=0   # T    
#INST comms-with-agents-tell-T2D2:redundancy=0   # U


#INST comms-with-agents-ask-T0D0:redundancy=0    # V    
#INST comms-with-agents-ask-T1D0:redundancy=0    # W   
#INST comms-with-agents-ask-T2D0:redundancy=0    # X
#INST comms-with-agents-ask-T0D1:redundancy=0    # Y    
#INST comms-with-agents-ask-T1D1:redundancy=0    # Z   
#INST comms-with-agents-ask-T2D1:redundancy=0    # 0
#INST comms-with-agents-ask-T0D2:redundancy=0    # 1 
#INST comms-with-agents-ask-T1D2:redundancy=0    # 2 
#INST comms-with-agents-ask-T2D2:redundancy=0    # 3



# Instructions for 11 proposals
#INST set-agi-opinion:redundancy=0 # H
#INST compare-human-opinion:redundancy=0 # H
#INST match-human-opinion:redundancy=0 # H
#INST match-human-opinions:redundancy=0 # H
#INST change-opinion-propto-deviance:redundancy=0 # H
#INST compute-deviance:redundancy=0 # H
#INST change-fitness-propto-deviance:redundancy=0 # H
#INST compute-average-deviance:redundancy=0 # H
#INST change-fitness-propto-deviance-and-global:redundancy=0 # H
#INST change-opinion-propto-difference-and-deviance:redundancy=0# H
#INST change-offspring-fitness-propto-deviance-and-global:redundancy=0 # H
#INST share-opinion-propto-fitness:redundancy=0 # H
#INST share-opinion-propto-deviance:redundancy=0 # H